.Input {
    position: relative;
    max-width: 400px;
    color: var(--text-color);
    padding-bottom: 16px;

    .label {
        display: flex;
        align-items: baseline;
        min-height: var(--font-line-s);

        .text {
            width: 120px;
            padding: 0 8px 0 4px;
        }

        &.topLabel {
            flex-direction: column;
            align-items: start;

            .text {
                width: auto;
                align-self: start;
                font-size: var(--font-size-s);
                line-height: var(--font-line-s);
            }
        }

        .root {
            position: relative;
            width: 100%;

            .input {
                width: 100%;
                color: var(--text-color);
                border: 1px solid var(--input-border);
                border-radius: 4px;
                padding: 4px 44px 4px 8px;
                transition: border-color var(--transition-time-main);
                background-color: var(--input-bg);
                height: 32px;

                &.clear {
                    border: none;
                    border-bottom: 1px solid var(--input-border);
                    border-radius: 0;
                    padding: 0 44px 0 4px;
                }

                &.rootError {
                    border-color: var(--input-error);
                }

                &.readOnly {
                    background-color: transparent;
                    border-color: transparent;
                    padding: 4px 8px;

                    &:hover {
                        background-color: transparent;
                        border-color: transparent;
                    }

                    &:focus {
                        outline: none;
                        background-color: transparent;
                        border-color: transparent;
                    }
                }

                &:hover {
                    border-color: var(--input-hover);
                }

                &:focus {
                    outline: none;
                    border-color: var(--input-focus);
                }

                &.disabled {
                    cursor: not-allowed;
                    color: var(--input-disabled-text);
                    border-color: var(--input-disabled);

                    &:hover {
                        border-color: var(--input-disabled);
                    }
                }
            }
        }

        .modification {
            display: flex;
            align-items: center;
            color: var(--text-secondary);
            font-size: 11px;
            position: absolute;
            bottom: 4px;
            right: 4px;
            height: 26px;

            &.activeIcon {
                cursor: pointer;

                svg {
                    path {
                        stroke: var(--text-color);
                    }
                }
            }

            &.counter {
                line-height: 40px;
                align-items: baseline;
            }
        }
    }

    .error {
        position: absolute;
        font-size: var(--font-size-s);
        color: var(--input-error);
        line-height: 14px;
        margin-left: 100px;

        &.topLabel {
            margin-left: 0;
        }
    }
}
