.radio {
    margin: 4px;
    position: relative;
    padding-left: calc(1em + 3px);
    color: white;
}

.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px rgb(10, 136, 196, 1);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio__input.superRadio__input_select {
    background-color: white;
}

.radio__input.superRadio__input_not_select {
    background-color: #259cd3;
}