@import "variables";
@import "fonts";
@import "themes/dark";
@import "themes/light";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);

  transition: background var(--transition-time-main);
  background-color: var(--bg-color);
}
