.Button {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px 12px;
    transition: all var(--transition-time-main);
    font-size: 16px;
    line-height: 24px;

    .Button__children {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 4px;
    }

    &.primary {
        color: var(--inverted-text-color);
        border: none;
        background-color: var(--button-primary-bg);

        &:hover {
            background-color: var(--button-primary-hover);
        }

        &.disabled {
            cursor: not-allowed;
            color: var(--gray);
            background-color: var(--button-primary-disable);
            pointer-events: none;
        }
    }

    &.secondary {
        color: var(--inverted-text-color);
        border: none;
        background-color: var(--button-secondary-bg);

        &:hover {
            background-color: var(--button-secondary-hover);
        }

        &.disabled {
            cursor: not-allowed;
            color: var(--gray);
            background-color: var(--button-secondary-disable);
        }
    }

    &.outline {
        color: var(--button-outline-color);
        background: none;
        border: 1px solid var(--button-primary-bg);

        &:hover {
            color: var(--button-outline-hover);
            border-color: var(--button-primary-hover);
        }

        &.disabled {
            cursor: not-allowed;
            color: var(--button-outline-disable);
            border-color: var(--button-primary-disable);
        }
    }

    &.clear {
        color: var(--button-clear-color);
        margin: 0;
        padding: 4px;
        border: none;
        background-color: transparent;
        transition: background-color var(--transition-time-main);

        &.disabled {
            cursor: not-allowed;
            color: var(--button-clear-disable);
        }

        &:hover {
            color: var(--button-clear-hover);
        }
    }

    &.small {
        font-size: var(--font-size-s);
        line-height: var(--font-line-s);
        padding: 4px 8px;
    }

    &.large {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
        padding: 12px 16px;
    }
}
