.Modal {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0;

    .overlay {
        background-color: var(--overlay-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .content {
            color: var(--text-color);
            background-color: var(--bg-color-mute);
            padding: 20px;
            max-width: 50%;
            border-radius: var(--border-radius);
            transition: transform var(--transition-time-main);
            transform: scale(0.5);
            border: 1px solid var(--modal-border-color);
        }
    }

    &.opened {
        pointer-events: auto;
        z-index: 3;
        opacity: 1;

        .overlay {
            .content {
                transform: scale(1);
            }
        }
    }

    &.closing {
        .overlay {
            .content {
                transform: scale(0.5);
            }
        }
    }
}
