.Todolist {
  padding: 8px 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--modal-border-color);
  background-color: var(--bg-color-mute);
    .title {
      margin: 0 0 12px 0;
    }

    .createAt {
      font-size: var(--font-size-s);
      line-height: var(--font-line-s);
      color: var(--text-secondary);
    }
}
