.app_light_theme {
  --primary-color: var(--green);
  --bg-color: var(--white);
  --bg-color-mute: var(--white-mute);
  --button-primary-bg: var(--green);
  --button-primary-hover: var(--green-dark);
  --button-primary-disable: var(--gray-light-2);
  --button-secondary-bg: var(--gray-dark-1);
  --button-secondary-hover: var(--gray-dark-2);
  --button-secondary-disable: var(--gray-light-3);
  --button-outline-color: var(--text-color);
  --button-outline-hover: var(--gray-dark-1);
  --button-outline-disable: var(--gray);
  --button-clear-color: var(--text-light-1);
  --button-clear-hover: var(--text-light-2);
  --button-clear-focus: var(--gray-light-3);
  --button-clear-disable: var(--gray);
  --link-color: var(--text-color);
  --link-color-hover: var(--gray);
  --divider: var(--gray-light-4);
  --divider-hover: var(--gray);
  --text-color: var(--text-light-1);
  --text-hover: var(--text-dark-2);
  --text-secondary: var(--text-light-2);
  --input-border: var(--gray-light-2);
  --input-hover: var(--gray);
  --input-focus: var(--gray);
  --input-disabled: var(--gray-light-3);
  --input-disabled-text: var(--gray-light-2);
  --input-error: var(--red-error);
  --input-bg: var(--gray-light-5);
  --inverted-text-color: var(--text-dark-1);
  --modal-border-color: var(--gray-light-4);
  --dropdown-item-hover: var(--gray-light-5);
  --skeleton-color: var(--gray-light-5);
  --skeleton-shadow: var(--gray-light-4);
}
