.Dropdown {
  display: flex;
  align-items: center;
  width: fit-content;

  .root {
    position: relative;

    .children {
      display: flex;
      align-items: center;
      cursor: default;
      color: var(--text-color);

      &:hover {
        color: var(--text-hover);
      }

      &.open {
        color: var(--text-hover);
      }
    }

    .list {
      position: absolute;
      top: 100%;
      right: 0;
      opacity: 0;
      background-color: var(--bg-color);
      border: 1px solid var(--divider);
      padding: 4px 0;
      border-radius: var(--border-radius);
      pointer-events: none;
      transition: var(--transition-time-main);
      transform: translateY(-8px);

      &.closing {
        transform: translateY(-8px);
        opacity: 0;
      }

      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      .listItem {
        cursor: default;
        list-style-type: none;
        color: var(--text-color);
        padding: 4px;

        &:hover {
          background-color: var(--dropdown-item-hover);
        }
      }
    }
  }
}
